{% load static %}
<!-- core/templates/core/start_page.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        .banner {
            width: 100%;
            height: 200px;
            background-color: lightblue; /* Цвет баннера (можно заменить картинкой) */
        }
        .logo {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="banner">
        <!-- Здесь можно вставить картинку баннера -->
    </div>
     <div class="logo">
        <img src="{% static 'core/images/logo.png' %}" alt="Логотип" width="150" height="150">
    </div>
    <h1>Заготовка страницы о нас</h1>
    <p>Русский | Қазақша | English</p>



</body>
</html>
