{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Требуется авторизация" %}{% endblock %}

{% block content %}
    <h1>{% trans "Требуется авторизация" %}</h1>
    <p>{% trans "Данный раздел доступен только авторизованным пользователям. Зарегистрируйтесь и/или войдите на сайт, чтобы просматривать эту страницу." %}</p>
    <p>
        <a href="{% url 'login' %}">{% trans "Войти" %}</a> {% trans "или" %}
        <a href="{% url 'register' %}">{% trans "Зарегистрироваться" %}</a>
    </p>
{% endblock %}
