{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Профиль" %}{% endblock %}

{% block content %}
    <h1>{% trans "Профиль" %}</h1>

    <!-- Форма для редактирования профиля -->
    <form method="POST" class="profile-form">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <button type="submit" name="update_profile" class="save-button">{% trans "Сохранить изменения" %}</button>
    </form>

    <!-- Форма для смены пароля -->
    <h2>{% trans "Изменить пароль" %}</h2>
    <form method="POST" class="password-form">
    {% csrf_token %}
    {{ password_form.as_p }}

    <!-- Ваши собственные подсказки -->
    <ul>
        <li>{% trans "Пароль должен содержать как минимум 8 символов" %}</li>
        <li>{% trans "Пароль не может состоять только из цифр" %}</li>
        <li>{% trans "Пароль не должен быть слишком простым и распространенным" %}</li>
        <li>{% trans "Пароль не должен быть слишком похож на вашу личную информацию" %}</li>
    </ul>

    <button type="submit" class="save-button">{% trans "Изменить пароль" %}</button>
</form>


{% endblock %}
