<div class="WidgetBackground__ContentContainer-sc-1ho7q3r-1 jUKeJm">
    <div class="WidgetBackground__Content-sc-1ho7q3r-2 ciCnpO">
        <div class="Content__FormContainer-sc-3sh3bs-0 zBbTw">
            <div class="WidgetTitle__Container-sc-ruy1gu-0 dNLrYO">
                <div class="WidgetTitle__Inner-sc-ruy1gu-1 SZtf">
                    <div class="WidgetTitle__Header-sc-ruy1gu-2 coQfSf">Profile</div>
                </div>
            </div>
            <form class="FormLayout__Container-sc-2kg2eg-0 iNyYeg">
                <div class="FieldsGrid__Grid-sc-1luipcv-0 ddugXe">
                    <div class="FieldsGrid__Row-sc-1luipcv-1 bDKrtu">
                        <div class="FormFieldLayout__Container-sc-1m85c11-4 kYxxJj FieldContainer__FieldLayout-sc-gwguj-0 hiQEnO">
                            <label for="m1g6g5wg" class="FormFieldLayout__Label-sc-1m85c11-0 sKRvb">NickName</label>
                            <div class="FormFieldLayout__Element-sc-1m85c11-1 fxodGM">
                                <span class="TextMeasure__TextMeasureComponent-sc-bpafkg-0 ePiSec"></span>
                                <div class="TextControlBase__TextControlBaseContainer-sc-1s66zih-0 bBKQWp" style="padding: 10px 15px; border-width: 1px; border-radius: 4px; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; height: max-content; border-color: rgba(17, 17, 17, 0.2); background: transparent; color: rgb(17, 17, 17); opacity: 1;">
                                    <div class="TextControlBase__TextControlBaseInner-sc-1s66zih-1 cjvHgB">
                                        <div class="TextControlBase__TextControlBaseInputWrapper-sc-1s66zih-3 ckjMpy" style="opacity: 1; transform: none;">
                                            <div class="TextControlBase__TextControlBasePlaceholder-sc-1s66zih-8 CWjVC" style="font-style: normal; font-weight: 400; color: rgba(17, 17, 17, 0.45);">Enter your Nickname
                                            </div>
                                            <input id="m1g6g5wg" aria-required="false" placeholder="Enter your Nickname" inputmode="text" type="shortText" autocomplete="off" class="TextControlBase__TextControlBaseInput-sc-1s66zih-4 jYGVQJ" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="FieldsGrid__Row-sc-1luipcv-1 bDKrtu">
                        <div class="FormFieldLayout__Container-sc-1m85c11-4 euqRLn FieldContainer__FieldLayout-sc-gwguj-0 hiQEnO">
                        <label for="56wyrrln" class="FormFieldLayout__Label-sc-1m85c11-0 sKRvb">First Name
                        </label>
                        <div class="FormFieldLayout__Element-sc-1m85c11-1 fxodGM">
                            <span class="TextMeasure__TextMeasureComponent-sc-bpafkg-0 ePiSec">

                            </span>
                            <div class="TextControlBase__TextControlBaseContainer-sc-1s66zih-0 bBKQWp" style="padding: 10px 15px; border-width: 1px; border-radius: 4px; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; height: max-content; border-color: rgba(17, 17, 17, 0.2); background: transparent; color: rgb(17, 17, 17); opacity: 1;">
                                <div class="TextControlBase__TextControlBaseInner-sc-1s66zih-1 cjvHgB">
                                    <div class="TextControlBase__TextControlBaseInputWrapper-sc-1s66zih-3 ckjMpy" style="opacity: 1; transform: none;">
                                        <div class="TextControlBase__TextControlBasePlaceholder-sc-1s66zih-8 CWjVC" style="font-style: normal; font-weight: 400; color: rgba(17, 17, 17, 0.45);">Enter your first name</div>
                                        <input id="56wyrrln" aria-required="false" placeholder="Enter your first name" inputmode="text" type="shortText" autocomplete="off" class="TextControlBase__TextControlBaseInput-sc-1s66zih-4 jYGVQJ" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="FormFieldLayout__Container-sc-1m85c11-4 knnLiq FieldContainer__FieldLayout-sc-gwguj-0 hiQEnO">
                            <label for="gua6wy98" class="FormFieldLayout__Label-sc-1m85c11-0 sKRvb">Last Name</label>
                            <div class="FormFieldLayout__Element-sc-1m85c11-1 fxodGM">
                                <span class="TextMeasure__TextMeasureComponent-sc-bpafkg-0 ePiSec"></span>
                                <div class="TextControlBase__TextControlBaseContainer-sc-1s66zih-0 bBKQWp" style="padding: 10px 15px; border-width: 1px; border-radius: 4px; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; height: max-content; border-color: rgba(17, 17, 17, 0.2); background: transparent; color: rgb(17, 17, 17); opacity: 1;">
                                    <div class="TextControlBase__TextControlBaseInner-sc-1s66zih-1 cjvHgB">
                                        <div class="TextControlBase__TextControlBaseInputWrapper-sc-1s66zih-3 ckjMpy" style="opacity: 1; transform: none;">
                                            <div class="TextControlBase__TextControlBasePlaceholder-sc-1s66zih-8 CWjVC" style="font-style: normal; font-weight: 400; color: rgba(17, 17, 17, 0.45);">Enter your last name
                                            </div>
                                            <input id="gua6wy98" aria-required="false" placeholder="Enter your last name" inputmode="text" type="shortText" autocomplete="off" class="TextControlBase__TextControlBaseInput-sc-1s66zih-4 jYGVQJ" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="FieldsGrid__Row-sc-1luipcv-1 bDKrtu">
                        <div class="FormFieldLayout__Container-sc-1m85c11-4 kYxxJj FieldContainer__FieldLayout-sc-gwguj-0 hiQEnO">
                            <label for="xsuegol5" class="FormFieldLayout__Label-sc-1m85c11-0 sKRvb">Email</label>
                            <div class="FormFieldLayout__Element-sc-1m85c11-1 fxodGM">
                                <span class="TextMeasure__TextMeasureComponent-sc-bpafkg-0 ePiSec"></span>
                                <div class="TextControlBase__TextControlBaseContainer-sc-1s66zih-0 bBKQWp" style="padding: 10px 15px; border-width: 1px; border-radius: 4px; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; height: max-content; border-color: rgba(17, 17, 17, 0.2); background: transparent; color: rgb(17, 17, 17); opacity: 1; will-change: auto;">
                                    <div class="TextControlBase__TextControlBaseInner-sc-1s66zih-1 cjvHgB">
                                        <div class="TextControlBase__TextControlBaseInputWrapper-sc-1s66zih-3 ckjMpy" style="opacity: 1; transform: none;">
                                            <div class="TextControlBase__TextControlBasePlaceholder-sc-1s66zih-8 CWjVC" style="font-style: normal; font-weight: 400; color: rgba(17, 17, 17, 0.45);">Enter your email address</div>
                                            <input id="xsuegol5" aria-required="false" placeholder="Enter your email address" inputmode="text" type="email" autocomplete="off" class="TextControlBase__TextControlBaseInput-sc-1s66zih-4 jYGVQJ" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="FieldsGrid__Row-sc-1luipcv-1 bDKrtu">
                        <div class="FormFieldLayout__Container-sc-1m85c11-4 kYxxJj FieldContainer__FieldLayout-sc-gwguj-0 dQlLgK">
                            <div class="FormFieldLayout__Element-sc-1m85c11-1 dPuwfU">
                                <div class="Heading__HeadingControl-sc-1ei0mei-0 cMCNcN">Change password:
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="FieldsGrid__Row-sc-1luipcv-1 bDKrtu">
                        <div class="FormFieldLayout__Container-sc-1m85c11-4 kYxxJj FieldContainer__FieldLayout-sc-gwguj-0 hiQEnO">
                            <label for="m1g6hq6i" class="FormFieldLayout__Label-sc-1m85c11-0 sKRvb">Old password:</label>
                            <div class="FormFieldLayout__Element-sc-1m85c11-1 fxodGM">
                                <span class="TextMeasure__TextMeasureComponent-sc-bpafkg-0 ePiSec"></span>
                                <div class="TextControlBase__TextControlBaseContainer-sc-1s66zih-0 bBKQWp" style="padding: 10px 15px; border-width: 1px; border-radius: 4px; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; height: max-content; border-color: rgba(17, 17, 17, 0.2); background: transparent; color: rgb(17, 17, 17); opacity: 1;">
                                    <div class="TextControlBase__TextControlBaseInner-sc-1s66zih-1 cjvHgB">
                                        <div class="TextControlBase__TextControlBaseInputWrapper-sc-1s66zih-3 ckjMpy" style="opacity: 1; transform: none;">
                                            <div class="TextControlBase__TextControlBasePlaceholder-sc-1s66zih-8 CWjVC" style="font-style: normal; font-weight: 400; color: rgba(17, 17, 17, 0.45);">Enter your old password</div>
                                            <input id="m1g6hq6i" aria-required="false" placeholder="Enter your old password" inputmode="text" type="shortText" autocomplete="off" class="TextControlBase__TextControlBaseInput-sc-1s66zih-4 jYGVQJ" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="FieldsGrid__Row-sc-1luipcv-1 bDKrtu">
                        <div class="FormFieldLayout__Container-sc-1m85c11-4 kYxxJj FieldContainer__FieldLayout-sc-gwguj-0 hiQEnO">
                            <label for="m1g6k4t2" class="FormFieldLayout__Label-sc-1m85c11-0 sKRvb">New password:</label>
                            <div class="FormFieldLayout__Element-sc-1m85c11-1 fxodGM">
                                <span class="TextMeasure__TextMeasureComponent-sc-bpafkg-0 ePiSec">

                                </span>
                                <div class="TextControlBase__TextControlBaseContainer-sc-1s66zih-0 bBKQWp" style="padding: 10px 15px; border-width: 1px; border-radius: 4px; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; height: max-content; border-color: rgba(17, 17, 17, 0.2); background: transparent; color: rgb(17, 17, 17); opacity: 1;">
                                    <div class="TextControlBase__TextControlBaseInner-sc-1s66zih-1 cjvHgB">
                                        <div class="TextControlBase__TextControlBaseInputWrapper-sc-1s66zih-3 ckjMpy" style="opacity: 1; transform: none;">
                                            <div class="TextControlBase__TextControlBasePlaceholder-sc-1s66zih-8 CWjVC" style="font-style: normal; font-weight: 400; color: rgba(17, 17, 17, 0.45);">Enter your new password</div>
                                            <input id="m1g6k4t2" aria-required="false" placeholder="Enter your new password" inputmode="text" type="shortText" autocomplete="off" class="TextControlBase__TextControlBaseInput-sc-1s66zih-4 jYGVQJ" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="FormFieldLayout__Hint-sc-1m85c11-3 kKVtXd">
                                    <ul>
                                        <li>
                                            <div>Your password can’t be too similar to your other personal information.</div>
                                </li>
                                        <li>
                                            <div>Your password must contain at least 8 characters.</div>
                                        </li>
                                        <li>
                                            <div>Your password can’t be a commonly used password.</div>
                                        </li>
                                        <li>
                                            <div>Your password can’t be entirely numeric.</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="FieldsGrid__Row-sc-1luipcv-1 bDKrtu">
                        <div class="FormFieldLayout__Container-sc-1m85c11-4 kYxxJj FieldContainer__FieldLayout-sc-gwguj-0 hiQEnO">
                            <label for="m1g6mac3" class="FormFieldLayout__Label-sc-1m85c11-0 sKRvb">New password confirmation:</label>
                            <div class="FormFieldLayout__Element-sc-1m85c11-1 fxodGM">
                                <span class="TextMeasure__TextMeasureComponent-sc-bpafkg-0 ePiSec"></span>
                                <div class="TextControlBase__TextControlBaseContainer-sc-1s66zih-0 bBKQWp" style="padding: 10px 15px; border-width: 1px; border-radius: 4px; font-style: normal; font-weight: normal; font-size: 15px; line-height: 20px; height: max-content; border-color: rgba(17, 17, 17, 0.2); background: transparent; color: rgb(17, 17, 17); opacity: 1;">
                                    <div class="TextControlBase__TextControlBaseInner-sc-1s66zih-1 cjvHgB">
                                        <div class="TextControlBase__TextControlBaseInputWrapper-sc-1s66zih-3 ckjMpy" style="opacity: 1; transform: none;">
                                            <div class="TextControlBase__TextControlBasePlaceholder-sc-1s66zih-8 CWjVC" style="font-style: normal; font-weight: 400; color: rgba(17, 17, 17, 0.45);">Confirm your new password</div>
                                            <input id="m1g6mac3" aria-required="false" placeholder="Confirm your new password" inputmode="text" type="shortText" autocomplete="off" class="TextControlBase__TextControlBaseInput-sc-1s66zih-4 jYGVQJ" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="FormFieldLayout__Hint-sc-1m85c11-3 kKVtXd">
                                    <div>Enter the same password as before, for verification.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="FieldsGrid__ButtonsGroup-sc-1luipcv-2 kBaLmY">
                    <button size="15" aria-label="Save change" type="button" tabindex="0" class="ButtonBase__ButtonContainer-sc-p43e7i-3 euBiGU" style="border-radius: 4px; border-color: rgba(0, 0, 0, 0); line-height: 1.32; color: rgb(255, 255, 255); font-family: inherit; font-weight: bold; font-size: 15px; font-style: normal; background-color: rgb(25, 123, 255); border-width: 2px;">
                        <span class="ButtonBase__Overlay-sc-p43e7i-4 jhGZeV" style="padding: 8px 21px; border-radius: calc(2px); will-change: auto; background-color: rgba(0, 0, 0, 0);">
                            <span class="ButtonBase__Ellipsis-sc-p43e7i-5 dqiKFy">Save change</span>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>