{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Регистрация" %}{% endblock %}

{% block content %}
    <h1>{% trans "Регистрация" %}</h1>
    <form method="POST" class="registration-form">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Используем стандартный вывод полей формы -->
        <button type="submit" class="register-button">{% trans "Зарегистрироваться" %}</button>
    </form>
    <p>{% trans "Уже есть аккаунт?" %} <a href="{% url 'login' %}">{% trans "Войдите" %}</a></p>
{% endblock %}
